@page "/charactersInfo"
@using GuessWhoOnePiece.Model.Characters
@inject GuessWhoOnePiece.Model.CsvManager.IFileServiceReader FileServiceReader
@inject GuessWhoOnePiece.Services.CurrentCharacterService CurrentCharacterService
@inject NavigationManager Navigation
@inject GuessWhoOnePiece.Services.IndexMenuService IndexMenuService

<div class="character-info-page">
    <div>
        <button class="button-back" @onclick="OnBack">
            <img src="icons/back.png" alt="button" style="width: 32px; height: 32px"/>
        </button>
    </div>
    <div>
    <div class="page-title">
        <h3 class="character-name-title">@Character.Name</h3>
    </div>

    <div class="character-details">
        <div class="picture-character">
            <Picture PicturePath="@Character?.Picture" />
        </div>

        <div class="character-infos">
            <h4><span class="label">Première apparition : </span>@Character.FirstAppearance</h4>
            <h4><span class="label">Prime : </span>@Character.Bounty</h4>
            <h4><span class="label">En vie : </span>@(Character.Alive ? "En vie" : "Décédé")</h4>
            <h4><span class="label">Age : </span>@Character.Age</h4>
            <h4><span class="label">Type : </span>@Character.Type</h4>
                <h4><span class="label">Fruit du Démon : </span>@(Character.DevilFruit ? "Possédé" : "Non Possédé")</h4>
            <h4><span class="label">Équipage : </span>@Character.Crew</h4>
        </div>
    </div>
    </div>
</div>
